.about {
  padding: 2rem;
  /* border-radius: 1rem; */
  /* margin: 2rem 2rem; */
  background-color: white;

  .profile {
    margin: 5rem 10rem;
    /* padding-top: 5rem; */
    display: flex;
    justify-content: space-around;

    .profile-pic {
      width: 25%;
      border-radius: 50%;
      margin-right: 2rem;
      background-color: aqua;
    }

    .pic {
      border-radius: 50%;
      height: 30rem;
      border: 10px solid #9fdddc;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    .information {
      width: 50%;
      display: flex;
      flex-direction: column;
      text-align: left;

      h2 {
        font-size: 2rem;
        margin: 0;
        font-weight: bolder;
      }

      .title {
        font-size: 1rem;
        font-weight: bold;
      }
    }
  }
}
