.about {
  padding: 2rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #332B29;
  
  .aboutMe {
    font-size: 2rem;
    font-weight: 600;
    margin: 1rem 0;
  }
  
  .title {
    font-size: 1.25rem;
    font-weight: 200;
  }
  
  .name {
    padding-top: 2rem;
    font-size: 3.5rem;
    font-weight: 600;
    margin: 0;
  }

  .profile {
    margin: 3rem 0;
    display: flex;
    gap: 2.5rem;
    justify-content: space-around;
    width: 80%;
    padding: 3rem;
    border-radius: 1rem;
    background-color: #F5F5F5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    .profile-pic {
      width: 25%;
      border-radius: 50%;
      margin-right: 2rem;
    }

    .pic {
      border-radius: 50%;
      height: 27rem;
      border: 10px solid #CCCCCC;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    .information {
      width: 50%;
      display: flex;
      flex-direction: column;
      text-align: left;
      margin-top: 2rem;

      h2 {
        font-size: 2rem;
        margin: 0;
        font-weight: bolder;
      }

      .social-icons {
        padding: 1rem 0;
        img {
          margin: 0 0.5rem;
          height: 2rem;
        }
      }
    }
  }
}
