.skill-card {
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem;
    box-shadow: 0 4px 8px 0 rgba(29, 24, 66, 0.15);
    background-color: var(--accent-light);
    border: 2px solid var(--primary-hover);
    margin: 0.5rem;
    border-radius: 1rem;
    align-items: center;

    h3 {
        font-size: 1.5rem;
        color: var(--accent-dark);
    };

    p {
        font-size: 1rem;
        color: var(--accent-dark);
    }

    img {
        width: 4rem;
        height: 4rem;
    }
}