.skills {
  padding: 2rem;
  background-color: white;
  align-items: center;
  display: flex;
  flex-direction: column;

  .languages {
    width: 80%;;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: #332B29;
  }
}