.skill-card {
    display: grid;
    padding: 2rem 2rem;
    border: #9FD79A 3px dashed;
    margin: 0.5rem;
    border-radius: 1rem;

    h3 {
        font-size: 1.5rem;
    };

    p {
        font-size: 1rem;
    }
}