.App {
  text-align: center;

  .nav-header {
    background-color: white;
    display: flex;
    flex-direction: column;
    font-size: calc(10px + 2vmin);

    .nav-list {
      margin: 1rem;
      padding: 1rem 2rem;
      border-radius: 1rem;
      background-color: #282c34;
      display: flex;
      justify-content: space-evenly;
      list-style: none;
      color: cream;

      a {
        text-decoration: none;
        color: rgb(255, 253, 208);
      }
    }
  }
}

/* Add styles for Skills and Contact sections */
#skills {
  padding: 2rem;
  background-color: #f0f0f0;
}

#contact {
  padding: 2rem;
  background-color: #e0e0e0;
}

